<h2>Books</h2>
<div class="LibraryForm">
<div>
  
    <table class="table design">
        <thead>
          <tr>
            <th scope="col" >Name</th>
            <th scope="col">Page</th>
            <th scope="col">Writer</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of books$ | async">
                <td>{{user['Name']}}</td>
                <td>{{user['page']}}</td>
                <td>{{user['writer']}}</td>
                <td><button class="btn btn-primary" (click)="onRemove(user['id'])">Delete</button></td>
            </tr>
        </tbody>
      </table>

    
</div>
 

<!-- <form [formGroup]="LibraryForm" (ngSubmit)="onSubmit()">


    <div class="form-group">
        <label class="center-block">Name:
            <input formControlName="name" placeholder="Book Name"><br>
        </label>
      </div>
      <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="alert alert-danger">
          <div *ngIf="form.controls['name'].errors">
          Name is required.
        </div>
      </div>







  
      <label class="center-block">Page:

    <input formControlName="page" placeholder="Page" required></label><br>
    <label class="center-block">Price
      <input formControlName="writer" placeholder="price" required><br>
     </label> <br>  
    
    <button type="submit" [disabled]="form.controls['name'].invalid" >Submit</button>
 </form> -->
 <form  [formGroup]="LibraryForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-6 col-md-6">
        <div class="mb-3">
            <label class="form-label">First Name <span class="text-red">*</span></label>
            <input type="text" class="form-control" placeholder="name" required
                autocomplete="on" [ngClass]="{
                                    'is-invalid': LibraryForm.controls['name'].invalid && (LibraryForm.controls['name'].dirty || LibraryForm.controls['name'].touched) 
                                  }" formControlName="name">
        </div>
        <div
            *ngIf="LibraryForm.controls['name'].invalid && (LibraryForm.controls['name'].dirty || LibraryForm.controls['name'].touched)">
            <div *ngIf="LibraryForm.controls['name']"
                class="text-danger">
                Enter FirstName
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="mb-3">
            <label class="form-label">writer <span class="text-red">*</span></label>
            <input type="text" name="writer" class="form-control" autocomplete="off"
                placeholder="writer" required [ngClass]="{
                                    'is-invalid': LibraryForm.controls['writer'].invalid && (LibraryForm.controls['writer'].dirty ||LibraryForm.controls['writer'].touched) 
                                  }" formControlName="writer">
        </div>
        <div
            *ngIf="LibraryForm.controls['writer'].invalid && (LibraryForm.controls['writer'].dirty || LibraryForm.controls['writer'].touched)">
            <div *ngIf="LibraryForm.controls['writer'].errors" class="text-danger">
                Enter writer
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="mb-3">
            <label class="form-label">page <span class="text-red">*</span></label>
            <input type="number" name="page" class="form-control" autocomplete="off"
                placeholder="page" required [ngClass]="{
                                    'is-invalid': LibraryForm.controls['page'].invalid && (LibraryForm.controls['page'].dirty ||LibraryForm.controls['page'].touched) 
                                  }" formControlName="page">
        </div>
        <div
            *ngIf="LibraryForm.controls['page'].invalid && (LibraryForm.controls['page'].dirty || LibraryForm.controls['page'].touched)">
            <div *ngIf="LibraryForm.controls['page'].errors" class="text-danger">
                Enter page
            </div>
        </div>
    </div>
   

      
    <div class="form-footer mt-2">
        <button type="submit" [disabled]="
                            LibraryForm.invalid" class="btn  btn-primary btn-block px-2 btn-submit d-flex">
            <div class="arrow bounce"><i class="fe fe-arrow-right "></i></div>
             Add  
        </button>
    </div>
</form>
</div>